<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit record</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <header>
        <h1>Edit record</h1>
    </header>
    <main>
        <form th:method="PATCH" th:action="@{/records/{id}(id=${record.getId()})}" th:object="${record}">
            <label for="km">Enter km: </label>
            <input type="text" th:field="*{km}" id="km" />
            <div style="color:red" th:if="${#fields.hasErrors('km')}" th:errors="*{km}">km Error</div>
            <br />
            <label for="date">Enter date: </label>
            <input type="text" th:field="*{date}" id="date" />
            <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date Error</div>
            <br />
            <button type="submit">Update</button>
        </form>
        <section>
            <a href="/records"><button class="cancel">Cancel</button></a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 CheckFuel WEB</p>
    </footer>
</body>

</html>