<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All records</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>All records</h1>
    </header>
    <main>
        <section>
            <a href="/test-batch-update/with">Batch update</a>
            <br/>
            <a href="/test-batch-update/without">Ordinary update</a>
            <br/>
            <br/>
            <br/>

        </section>
    </main>
    <footer>
        <p>&copy; 2023 CheckFuel WEB</p>
    </footer>
</body>
</html>